{% extends 'dashboard/layouts/_base.html' %}
<!--static-->
{% load static %}

<!--main content-->
{% block contentDashboard %}
 {% if messages %}
      <ul class="message p-0" style="list-style-type: none;">
          {% for message in messages %}
              <li class="list-group-item-success"
              style="font-size:15px; padding: 14px; text-align:center;">
                  {{ message }}
              </li>
          {% endfor %}
      </ul>
  {% endif %}
<h1>Cotes Etudiants</h1>
<p class="mt-2">
  {% if cours %}
    {% for cr in cours %}

    <a href="{% url 'nouvelle_cote' cr.id %}" class="btn list-group-item-primary">
      Créer un nouveau travail
    </a> pour le Cours de <strong>{{cr.nom_cours}}</strong>

    <a href="{% url 'envoi-cotes' cr.id  %}" class="btn list-group-item-secondary float-end">Soumettre les cotes</a>

    {% endfor %}
  {% else %}
    <p>On vous a attribuer aucun cours jusque là</p>
  {% endif %}
</p>
    
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-tp-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-tp"
      type="button"
      role="tab"
      aria-controls="nav-tp"
      aria-selected="true"
    >
      Travaux Pratiques
    </button>
    <button
      class="nav-link"
      id="nav-td-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-td"
      type="button"
      role="tab"
      aria-controls="nav-td"
      aria-selected="false" onclick="total_moyenne()"
    >
      Travaux Dirigés
    </button>
    <button
      class="nav-link"
      id="nav-int-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-int"
      type="button"
      role="tab"
      aria-controls="nav-int"
      aria-selected="false"
    >
      Interrogations
    </button>
    <button
      class="nav-link"
      id="nav-exam-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-exam"
      type="button"
      role="tab"
      aria-controls="nav-exam"
      aria-selected="false"
    >
      Examen
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-tp"
    role="tabpanel"
    aria-labelledby="nav-tp-tab"
  >
    {% include 'dashboard/layouts/_tp.html' %}
  </div>
  <div
    class="tab-pane fade"
    id="nav-td"
    role="tabpanel"
    aria-labelledby="nav-td-tab"
  >
    {% include 'dashboard/layouts/_td.html' %}
  </div>
  <div
    class="tab-pane fade"
    id="nav-int"
    role="tabpanel"
    aria-labelledby="nav-int-tab"
  >
    {% include 'dashboard/layouts/_interro.html' %}
  </div>
  <div
    class="tab-pane fade"
    id="nav-exam"
    role="tabpanel"
    aria-labelledby="nav-exam-tab"
  >
    {% include 'dashboard/layouts/_exam.html' %}
  </div>
</div>

{% block script %}

  <script src="{% static 'dashboard/js/cotes.js' %}"></script>

{% endblock script %}

 {% endblock contentDashboard %}
