{% extends 'dashboard/layouts/_base.html' %}
<!--static-->
{% load static %}

{% load crispy_forms_tags %}

<!--main content-->
{% block contentDashboard %}

<main class="w-50 mx-auto">

<h3 class="text-center mt-4">Nouveau travail</h3>

<form method="POST" action="{% url 'nouvelle_cote' cours_id %}">
  {% csrf_token %} 
  <div class="mb-5">
  </div>
  {{form|crispy}}
  <button type="submit" class="btn btn-primary">Ajouter travail</button>

</form>

</main>

{% block script %}
<script>
  const timeField = document.querySelector("input[name='date']");
  timeField.removeAttribute("type");
  timeField.setAttribute("type", "date");
</script>
<script src="{% static 'dashboard/js/cotes.js' %}"></script>
{% endblock script %} {% endblock contentDashboard %}
