<h3 class="mt-2">TRAVAUX PRATIQUES</h3>

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Matricule</th>
      <th scope="col">TP-1</th>
      <th scope="col">TP-2</th>
      <th scope="col">Total</th>
      <th scope="col">Moyenne</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>
        <input
          class="form-control"
          type="text"
          placeholder="cote"
          aria-label="example"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          placeholder="cote"
          aria-label="example"
        />
      </td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>
        <input
          class="form-control"
          type="text"
          placeholder="cote"
          aria-label="example"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          placeholder="cote"
          aria-label="example"
        />
      </td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>
